<p-breadcrumb [model]="itemsBreadCrumb"></p-breadcrumb>

<div class="card">
    <app-toolbar-buttons>
        <div class="ui-toolbar-group-left btn-min-width">
            <button pButton pRipple label="Voltar" icon="pi pi-arrow-left" class="mr-2"
                (click)="voltarResumoProduto()"></button>
            <button pButton pRipple label="Limpar" icon="pi pi-trash" class="mr-2" (click)="limparFiltros()"
                [disabled]="desabilitarCampos"></button>
            <button pButton pRipple label="Salvar" icon="pi pi-save" (click)="salvar()"
                [disabled]="desabilitarCampos"></button>
            <button pButton pRipple label="Upload Imagem" icon="pi pi-upload" (click)="abrirDialogUploadImagem()"
                [disabled]="desabilitarCampos"></button>
        </div>
    </app-toolbar-buttons>

    <div class="pfieldset mb-3">
        <p-fieldset legend="Detalhes do produto">

            <div class="grid p-fluid">
                <div class="col-12 lg:col-2 lg:mb-0">
                    <div class="floating-label">
                        <input type="text" id="codigoProduto" pInputText placeholder=" " [(ngModel)]="produto.codigo"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10"
                            [disabled]="true">
                        <label for="codigoProduto"> Código </label>
                    </div>
                </div>

                <div class="col-12 lg:col-4 lg:mb-0">
                    <div class="floating-label">
                        <input type="text" id="nomeProduto" pInputText placeholder=" " [(ngModel)]="produto.nome"
                            uppercase maxlength="100" [disabled]="desabilitarCampos" />
                        <label for="nomeProduto"> Nome </label>
                    </div>
                </div>

                <div class="col-12 lg:col-2 lg:mb-0">
                    <div class="floating-label">
                        <input type="text" id="codigoProduto" pInputText placeholder=" "
                            [(ngModel)]="produto.codigoBarrasEAN"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="13"
                            [disabled]="desabilitarCampos">
                        <label for="codigoBarraEAN"> EAN </label>
                    </div>
                </div>

                <div class="col-12 lg:col-2 lg:mb-0">
                    <span class="p-float-label">
                        <p-dropdown filter="true" inputId="statusProduto" [autoDisplayFirst]="false"
                            [options]="listaStatusProduto" [showClear]="true" [style]="{'width':'100%'}"
                            [disabled]="desabilitarCampos" [(ngModel)]="produto.statusProduto">

                            <ng-template pTemplate="empty"> Nenhum status de produto encontrado! </ng-template>
                        </p-dropdown>
                        <label for="statusProduto"> Status Produto </label>
                    </span>
                </div>

                <div class="col-12 lg:col-2 lg:mb-0">
                    <span class="p-float-label">
                        <p-dropdown filter="true" inputId="tipoProduto" [autoDisplayFirst]="false"
                            [options]="listaTiposProduto" [showClear]="true" [style]="{'width':'100%'}"
                            [disabled]="desabilitarCampos" [(ngModel)]="produto.tipoProduto">

                            <ng-template pTemplate="empty"> Nenhum tipo de produto encontrado! </ng-template>
                        </p-dropdown>
                        <label for="tipoProduto"> Tipo Produto </label>
                    </span>
                </div>

                <div class="col-12 lg:col-2 lg:mb-0">
                    <div class="floating-label">
                        <input id="precoProduto" type="text" pInputText placeholder=" " mask="separator.2"
                            thousandSeparator="." decimalMarker="," prefix="R$ " maxlength="18"
                            [disabled]="desabilitarCampos" [(ngModel)]="produto.preco">
                        <label for="precoProduto"> Preço </label>
                    </div>
                </div>

                <div class="col-12 lg:col-2 lg:mb-0">
                    <div class="floating-label">
                        <input type="text" id="estoqueProduto" pInputText placeholder=" "
                            [(ngModel)]="produto.quantidadeEstoque"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="8"
                            [disabled]="desabilitarCampos">
                        <label for="estoqueProduto"> Estoque </label>
                    </div>
                </div>

                <div class="col-12 lg:col-2 lg:mb-0">
                    <span class="p-float-label">
                        <p-dropdown filter="true" inputId="marcaProduto" [autoDisplayFirst]="false"
                            [options]="listaMarcas" [showClear]="true" [style]="{'width':'100%'}"
                            [disabled]="desabilitarCampos" [(ngModel)]="produto.marca">

                            <ng-template pTemplate="empty"> Nenhuma marca encontrada! </ng-template>
                        </p-dropdown>
                        <label for="marcaProduto"> Marca </label>
                    </span>
                </div>

                <div class="col-12 lg:col-3 lg:mb-0">
                    <span class="p-float-label">
                        <p-dropdown filter="true" inputId="departamentoProduto" [autoDisplayFirst]="false"
                            [options]="listaDepartamentos" [showClear]="true" [style]="{'width':'100%'}"
                            [disabled]="desabilitarCampos" [(ngModel)]="produto.departamento" (onChange)="onDepartamentoChange($event)">

                            <ng-template pTemplate="empty"> Nenhum departamento encontrado! </ng-template>
                        </p-dropdown>
                        <label for="departamentoProduto"> Departamento </label>
                    </span>
                </div>

                <div class="col-12 lg:col-3 lg:mb-0">
                    <span class="p-float-label">
                        <p-dropdown filter="true" inputId="categoriaProduto" [autoDisplayFirst]="false"
                            [options]="listaCategorias" [showClear]="true" [style]="{'width':'100%'}"
                            [disabled]="desabilitarCampos" [(ngModel)]="produto.categoria">

                            <ng-template pTemplate="empty"> Nenhuma categoria encontrada! </ng-template>
                        </p-dropdown>
                        <label for="categoriaProduto"> Categoria </label>
                    </span>
                </div>
            </div>

        </p-fieldset>
    </div>

    <div class="ui-g-12">
        <p-tabView>
            <p-tabPanel header="Imagem" leftIcon="pi pi-image">

                <div class="grid p-fluid">
                    <div class="col-12 lg:col-6 lg:mb-0">
                        <p-panel>
                            <p-header>
                                <span style="padding-right: 5px"> Imagens </span>
                                <i class="pi pi-images" style="vertical-align: middle;"></i>
                            </p-header>

                            <ng-template [ngIf]="listaImagensProduto.length <= 0">
                                <div class="card">
                                    <span> Nenhuma imagem encontrada </span>
                                </div>
                            </ng-template>

                            <ng-template [ngIf]="listaImagensProduto.length > 0">
                                <div class="ui-g-12">
                                    <div class="col-12 lg:col-1 lg:mb-0 p-0">
                                        <p-button icon="pi pi-external-link" (onClick)="expandirImagem()" pTooltip="Expandir imagens"/>
                                    </div>
                                </div>

                                <!-- GALERIA DE IMAGENS EXPANDIDA -->
                                <div class="ui-g-12" [ngClass]="{'hide-navigation': true}">
                                    <p-galleria
                                        [(value)]="imagens"
                                        [(visible)]="mostrarImagemExpandida"
                                        [responsiveOptions]="optionsGaleriaImages"
                                        [containerStyle]="{'max-width': '50%'}"
                                        [numVisible]="3"
                                        [circular]="true"
                                        [fullScreen]="true"
                                        [showItemNavigators]="true">
                                            <ng-template pTemplate="item" let-item>
                                                <img [src]="item.itemImageSrc" style="width: 80%; display: block;"/>
                                            </ng-template>

                                            <ng-template pTemplate="thumbnail" let-item>
                                                <div class="grid grid-nogutter justify-content-center">
                                                    <img [src]="item.thumbnailImageSrc" style="width: 100px; display: block;"/>
                                                </div>
                                            </ng-template>

                                            <ng-template pTemplate="caption" let-item>
                                                <p>{{ item.alt }}</p>
                                            </ng-template>
                                    </p-galleria>
                                </div>

                                <!-- GALERIA DE IMAGENS -->
                                <div class="ui-g-12" [ngClass]="{'hide-navigation': imagens.length <= 3}">
                                    <p-galleria
                                        [(value)]="imagens"
                                        [circular]="true"
                                        [responsiveOptions]="optionsGaleriaImages"
                                        [numVisible]="3"
                                        [containerStyle]="{'max-width': '800px', 'margin':'auto'}">
                                            <ng-template pTemplate="item" let-item>
                                                <img [src]="item.itemImageSrc" style="width: 80%; display: block;" />
                                            </ng-template>

                                            <ng-template pTemplate="thumbnail" let-item>
                                                <div class="grid grid-nogutter justify-content-center">
                                                    <img [src]="item.thumbnailImageSrc" style="width: 100px; height: 100px;" />
                                                </div>
                                            </ng-template>

                                            <ng-template pTemplate="caption" let-item>
                                                <p>{{ item.alt }}</p>
                                            </ng-template>
                                    </p-galleria>
                                </div>

                            </ng-template>
                        </p-panel>
                    </div>

                    <div class="col-12 lg:col-6 lg:mb-0">
                        <p-panel>
                            <p-header>
                                <span style="padding-right: 5px"> Informações Imagens </span>
                                <i class="pi pi-list" style="vertical-align: middle;"></i>
                            </p-header>

                            <div class="ui-g">
                                <app-dynamic-table #tabelaInformacaoImagem
                                    [value]="listaImagensProduto"
                                    [columns]="colunasTabelaInformacaoImagens"
                                    [rows]="6">
                                </app-dynamic-table>
                            </div>
                        </p-panel>
                    </div>
                </div>

            </p-tabPanel>

            <p-tabPanel header="Descrição Detalhada" leftIcon="pi pi-book">
                <textarea pInputTextarea rows="5" cols="30" placeholder="Mais informações do produto..."
                    class="uppercase" maxlength="2660" [disabled]="desabilitarCampos"
                    [(ngModel)]="produto.descricaoDetalhada"></textarea>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>

<!-- DIALOG UPLOAD IMAGEM -->
<p-dialog [(visible)]='mostrarDialogUploadImagem' modal="true" [responsive]="true" [style]="{'maxWidth':'80%'}">
    <p-header style="font-size: 20px;"> Upload de imagem </p-header>

    <ng-template [ngIf]="!isEditando">
        <div class="card">
            <span> O upload da imagem só pode ser realizado após o cadastro do produto! <br>
                    Cadastre o produto e logo após realize a edição fazendo o upload da imagem.
            </span>
        </div>
    </ng-template>

    <ng-template [ngIf]="isEditando">
        <div class="card">
            <p-fileUpload
                #fileUpload
                chooseLabel="Adicionar Imagem"
                uploadLabel="Importar Imagem"
                cancelLabel="Cancelar"
                customUpload="true"
                maxFileSize="2000000"
                multiple="true"
                accept=".png, .jpg"
                (uploadHandler)="uploadImagem($event, fileUpload)">
            </p-fileUpload>
        </div>
    </ng-template>
</p-dialog>
