<p-breadcrumb [model]="itemsBreadCrumb"></p-breadcrumb>

<div class="card">
    <app-toolbar-buttons>
        <div class="ui-toolbar-group-left btn-min-width">
            <button pButton pRipple label="Voltar" icon="pi pi-arrow-circle-left" class="mr-2" (click)="voltarResumoProduto()"></button>
            <button pButton pRipple label="Limpar" icon="pi pi-trash" class="mr-2" (click)="limparFiltros()"></button>
            <button pButton pRipple label="Salvar" icon="pi pi-save" (click)="salvar()"></button>
        </div>

        <div class="ui-toolbar-group-rigth btn-min-width">
            <button pButton pRipple label="Upload Imagem" icon="pi pi-upload" (click)="salvar()"></button>
        </div>
    </app-toolbar-buttons>

    <div class="pfieldset mb-3">
        <p-fieldset legend="Detalhes do produto">

            <div class="grid p-fluid">
                <div class="col-12 lg:col-2 lg:mb-0">
                    <div class="floating-label">
                        <input type="text" id="codigoProduto" pInputText placeholder=" " [(ngModel)]="codigo" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                            maxlength="10" [disabled]="true">
                        <label for="codigoProduto"> Código </label>
                    </div>
                </div>

                <div class="col-12 lg:col-4 lg:mb-0">
                    <div class="floating-label">
                        <input type="text" id="nomeProduto" pInputText placeholder=" " [(ngModel)]="nome" uppercase maxlength="100"/>
                        <label for="nomeProduto"> Nome </label>
                    </div>
                </div>

                <div class="col-12 lg:col-2 lg:mb-0">
                    <div class="floating-label">
                        <input type="text" id="codigoProduto" pInputText placeholder=" " [(ngModel)]="codigoBarraEAN" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                            maxlength="13">
                        <label for="codigoBarraEAN"> EAN </label>
                    </div>
                </div>

                <div class="col-12 lg:col-2 lg:mb-0">
                    <span class="p-float-label">
                        <p-dropdown
                            filter="true"
                            inputId="statusProduto"
                            [autoDisplayFirst]="false"
                            [options]="listaStatus"
                            [showClear]="true"
                            [style]="{'width':'100%'}"
                            [(ngModel)]="status">

                            <ng-template pTemplate="empty"> Nenhum status de produto encontrado! </ng-template>
                        </p-dropdown>
                        <label for="statusProduto"> Status Produto </label>
                    </span>
                </div>

                <div class="col-12 lg:col-2 lg:mb-0">
                    <span class="p-float-label">
                        <p-dropdown
                            filter="true"
                            inputId="tipoProduto"
                            [autoDisplayFirst]="false"
                            [options]="listaTiposProduto"
                            [showClear]="true"
                            [style]="{'width':'100%'}"
                            [(ngModel)]="tipoProduto">

                            <ng-template pTemplate="empty"> Nenhum tipo de produto encontrado! </ng-template>
                        </p-dropdown>
                        <label for="tipoProduto"> Tipo Produto </label>
                    </span>
                </div>

                <div class="col-12 lg:col-2 lg:mb-0">
                    <div class="floating-label">
                        <input type="text" id="precoProduto" pInputText placeholder=" " [(ngModel)]="preco" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="8">
                        <label for="precoProduto"> Preço </label>
                    </div>
                </div>

                <div class="col-12 lg:col-2 lg:mb-0">
                    <div class="floating-label">
                        <input type="text" id="estoqueProduto" pInputText placeholder=" " [(ngModel)]="estoque" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="8">
                        <label for="estoqueProduto"> Estoque </label>
                    </div>
                </div>

                <div class="col-12 lg:col-2 lg:mb-0">
                    <span class="p-float-label">
                        <p-dropdown
                            filter="true"
                            inputId="marcaProduto"
                            [autoDisplayFirst]="false"
                            [options]="listaMarcas"
                            [showClear]="true"
                            [style]="{'width':'100%'}"
                            [(ngModel)]="marca">

                            <ng-template pTemplate="empty"> Nenhuma marca encontrada! </ng-template>
                        </p-dropdown>
                        <label for="marcaProduto"> Marca </label>
                    </span>
                </div>

                <div class="col-12 lg:col-3 lg:mb-0">
                    <span class="p-float-label">
                        <p-dropdown
                            filter="true"
                            inputId="departamentoProduto"
                            [autoDisplayFirst]="false"
                            [options]="listaDepartamentos"
                            [showClear]="true"
                            [style]="{'width':'100%'}"
                            [(ngModel)]="departamento">

                            <ng-template pTemplate="empty"> Nenhum departamento encontrado! </ng-template>
                        </p-dropdown>
                        <label for="departamentoProduto"> Departamento </label>
                    </span>
                </div>

                <div class="col-12 lg:col-3 lg:mb-0">
                    <span class="p-float-label">
                        <p-dropdown
                            filter="true"
                            inputId="categoriaProduto"
                            [autoDisplayFirst]="false"
                            [options]="listaCategorias"
                            [showClear]="true"
                            [style]="{'width':'100%'}"
                            [(ngModel)]="categoria">

                            <ng-template pTemplate="empty"> Nenhuma categoria encontrada! </ng-template>
                        </p-dropdown>
                        <label for="categoriaProduto"> Categoria </label>
                    </span>
                </div>

            </div>

        </p-fieldset>
    </div>

    <div class="ui-g-12">
        <p-tabView>
            <p-tabPanel header="Imagem" leftIcon="pi pi-image">

                <div class="grid p-fluid">
                    <div class="col-12 lg:col-5 lg:mb-0">
                        <p-panel>
                            <p-header>
                                <span> Imagens </span>
                                <i class="pi pi-images" style="vertical-align: middle;"></i>
                            </p-header>
                            <div class="ui-g">
                                <!--
                                <p-lightbox [images]="imagens" styleClass="imagem-lightbox"></p-lightbox>
                                -->
                                <!--
                                <p-galleria [value]="imagens" [responsiveOptions]="responsiveOptions"
                                    [showThumbnails]="true" [showIndicators]="true"
                                    [thumbnailsPosition]="'bottom'" [preview]="true">
                                </p-galleria>
                                -->
                            </div>
                        </p-panel>
                    </div>

                    <div class="col-12 lg:col-7 lg:mb-0">
                        <app-dynamic-table
                            #tabelaDetalheImagem
                            [caption]="'Detalhe Imagem'"
                            [value]="codigo"
                            [columns]="codigo"
                            [rows]="6">
                        </app-dynamic-table>
                    </div>
                </div>

            </p-tabPanel>

            <p-tabPanel header="Descrição Detalhada" leftIcon="pi pi-book">
                <textarea pInputTextarea rows="5" cols="30" placeholder="Descrição detalhada do produto..." class="uppercase" maxlength="2660" [(ngModel)]="descricaoDetalhadaProduto"></textarea>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>

