<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="container-sobre">
                <div class="imagem">
                    <img src="../../../assets/images/logo-nextgen-system.png" alt="Logo JSneakers">
                </div>
                <div class="descricao">
                    <span class="nome-empresa"> NextGen System </span>
                    <span class="nome-sistema"> {{ nomeSistema }} </span>
                    <span class="versao-sistema"> Versão: {{ versaoSistema }} </span>
                </div>
            </div>
        </div>
    </div>
</div>
