<div class="layout-topbar">
    <div class="topbar-left">
        <a class="topbar-logo" routerLink="">
            <img src="assets/layout/images/logo-nextgen.png" alt="Logo branco da empresa Nextgen System">
            <span> Pais & Filhos pratas </span>
        </a>
    </div>

    <div class="col-12 md:col-3">
        <p-inputGroup>
            <input pInputText type="text" placeholder="Pesquise..." />
            <p-inputGroupAddon>
                <i class="pi pi-search"></i>
            </p-inputGroupAddon>
        </p-inputGroup>
    </div>

    <div #topbarmenu class="layout-topbar-menu">
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-shopping-cart"></i>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-map-marker"></i>
        </button>
    </div>
</div>

