<p-breadcrumb [model]="itemsBreadCrumb"></p-breadcrumb>

<div class="ui-g ui-fluid">
    <div class="ui-g-12 pb-0">
        <div class="card ui-g-12">
            <div class="ui-g-12">
                <app-toolbar-buttons>
                    <div class="ui-toolbar-group-left btn-min-width">
                        <button pButton pRipple label="Pesquisar" icon="pi pi-search" class="mr-2" (click)="pesquisar()" *ngIf="!estaCadastrando && !estaEditando"></button>
                        <button pButton pRipple label="Limpar" icon="pi pi-trash" class="mr-2" (click)="limparFiltros()" *ngIf="!estaCadastrando && !estaEditando"></button>
                        <button pButton pRipple label="Cadastrar" icon="pi pi-save" (click)="habilitarCadastro()" *ngIf="!estaCadastrando && !estaEditando"></button>
                        <button pButton pRipple label="Salvar" icon="pi pi-check" (click)="salvar()" *ngIf="estaCadastrando || estaEditando"></button>
                        <button pButton pRipple label="Cancelar" icon="pi pi-times-circle" (click)="desabilitarCadastroEdicao()" *ngIf="estaCadastrando || estaEditando"></button>
                    </div>
                    <div class="ui-toolbar-group-right btn-min-width">
                        <button pButton pRipple label="Exportar" icon="pi pi-file-excel" (click)="exportarExcel()"></button>
                    </div>
                </app-toolbar-buttons>

                <p-panel>
                    <p-header>
                        <i class="pi pi-fw pi-filter" style="vertical-align: middle;"></i>
                        <span> Filtro Consulta </span>
                    </p-header>
                    <div class="grid formgrid">
                        <div class="col-12 lg:col-2 lg:mb-0">
                            <div class="floating-label">
                                <input type="text" id="filtroCodigoDepartamento" pInputText placeholder=" " [(ngModel)]="filtroCodigoDepartamento" onkeypress="return event.charCode >= 48
                                    && event.charCode <= 57" maxlength="10" [disabled]="estaCadastrando || estaEditando">
                                <label for="filtroCodigoDepartamento"> Código </label>
                            </div>
                        </div>
                        <div class="col-12 lg:col-3 lg:mb-0">
                            <div class="floating-label">
                                <input type="text" id="filtroNomeDepartamento" pInputText placeholder=" " [(ngModel)]="filtroNomeDepartamento" uppercase maxlength="50"/>
                                <label for="filtroNomeDepartamento"> Nome </label>
                            </div>
                        </div>
                        <div class="col-12 mt-2 lg:col-1 lg:mb-0">
                            <p-checkbox label="Ativo" [(ngModel)]="filtroIndicadorDepartamentoAtivo" [binary]="true"></p-checkbox>
                        </div>
                    </div>
                </p-panel>

                <app-dynamic-table
                    #tabelaDepartamento
                    [value]="listaDepartamentos"
                    [columns]="colunasTabelaDepartamento"
                    [rows]="6">
                </app-dynamic-table>
            </div>
        </div>
    </div>
</div>

<p-confirmDialog
    key="dialogConfirmacaoInativacao"
    [style]="{width: '350px'}"
    acceptButtonStyleClass="p-button-text"
    rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
