<p-toolbar class="layout-toolbar">
    <div class="p-toolbar-group-start">
        <a class="logo-toolbar" routerLink="">
            <span> Pais & Filhos pratas </span>
        </a>
    </div>

    <div class="p-toolbar-group-center search">
        <p-inputGroup class="input-toolbar">
            <input type="text" pInputText class="p-inputtext" placeholder="Pesquisar..." />
            <button type="button" pButton>
                <i class="pi pi-search"></i>
            </button>
        </p-inputGroup>
    </div>

    <div class="p-toolbar-group-end toolbar-buttons">
        <button class="buttons">
            <i class="pi pi-user icons"></i>
        </button>
        <button class="buttons">
            <i class="pi pi-shopping-cart icons"></i>
        </button>
        <button class="buttons">
            <i class="pi pi-map-marker icons"></i>
        </button>
    </div>
</p-toolbar>
