.layout-toolbar {
    .logo-toolbar {
        display: flex;
        align-items: center;
        color: var(--text-color);
        font-size: 2.2rem;
        font-family: var(--font-primary);
        font-weight: 100;
        width: 400px;
        border-radius: 12px;
        justify-content: center;
        cursor: pointer;

        img {
            height: 90px;
            margin-right: 1.1rem;
        }
    }

    .search {
        .input-toolbar {
            width: 300px;

            input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

    .toolbar-buttons {
        height: 100%;
        width: 300px;
        display: flex;
        justify-content: center;

        button:hover {
            background-color: var(--cor-cinza-claro);
        }

        .buttons {
            margin-left: 10px;
            height: 50%;
            border: none;
            color: var(--text-color);
            background-color: transparent;

            .icons {
                font-size: 1.4rem;
            }
        }
    }
}


